.Titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: darkolivegreen;
    text-align:center;
}
.Bio{
    font-size: 22px;
    text-align: justify;

}

