
body {background-color: lightgreen;}

.Titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    color: darkolivegreen;
    text-align:center;
}
.Bio{
    font-size: 22px;
    text-align: justify;
}
ul li {
    margin-bottom: 10px;
}
.hobbie {
    border-radius: 50%
}
.tabelinha{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tabelinha th, .tabelinha td{
    border: 1px solid #ccc;
    padding: 12px;

}
.tabelinha thead{
    background-color: beige;
}
.imgtable{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}